.about-item {
    margin-top: 30px;
}
.about-container {
    margin-right: auto;
    margin-left: auto;
    width: 1023px;
}
.about-img {
    width: 1240px;
    height: 223px;
    background-image: url("../../assets/images/about.png");
    border-radius: 25px;
    margin-top: 50px;
}
@media screen and (max-width: 1240px) {
    .aboutMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .about-container {
        width: 750px;
    }
    .about-img {
        width: 900px;
        background-position: center;
    }
}
@media screen and (max-width: 900px) {
    .about-img {
        width: 600px;
    }
    .about-container {
        width: 550px;
    }
}
@media screen and (max-width: 600px) {
    .about-img {
        width: 350px;
    }
    .about-container {
        width: 350px;
        margin-bottom: 50px;
    }
}