
.card {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    background-color: #FF6060;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
    cursor: pointer;
}

.card-desc {
    color: white;
    margin: 0px 20px 20px 20px;
    text-decoration: none;
}