
.active {
    color: #FF6060;
    font-size: 30px;
    letter-spacing: 7px;
}
.negative {
    color: #E3E3E3;
    font-size: 30px;
    letter-spacing: 7px;
}
@media screen and (max-width: 600px) {
    .negative {
        font-size: 15px;
    }
    .active {
        font-size: 15px;
    }
}