.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide {
    width: 1240px;
    height: 415px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
}
.center-crop {
    min-width: 100%;
    min-height: 100%;

}